{% extends "layout.html" %}
  
{% block body %}
<form id="purchase" method="POST" action="{{ url_for('purchases_create') }}">
    <select class="form-control" name="product">
        {% for product in products %}
        <option value = "{{product.id}}">{{product.name}}</option>
        {% endfor %} 
    </select>
</form>

<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#exampleModal">Purchase</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Once purchase is made it can't be reversed</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button form="purchase" type="submit" class="btn btn-primary btn-md">Confirm purchase</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



